.carousel {
  &-container {
    @include flex-center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    // max-height: 80vh;
    height: 100%;
    background-color: $main-secondary-background;
    position: relative;
    border-radius: 10px;
  }

  &-prev, &-next {
    font-size: 3em;
    width: 6%;
    @include flex-center;
    cursor: pointer;
    align-self: stretch;
    overflow: hidden;
    border: none;
    background-color: $main-secondary-background;
    color: white;
  }

  &-prev:hover, &-next:hover {
    // background-color: #191919;
    color: white;
    border: 1px solid gray;
  }

  &-prev:active, &-next:active {
    background-color: $secondary-color;
  }

  &-prev {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid $main-background;
  }

  &-next {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid $main-background;
  }

  &-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    // TOP
    &-top {
      @include flex-center;
      width: 100%;
      padding: 1em 0;
    }

    // MIDDLE
    &-middle {
      width: 100%;
      height: 100%;
      @include flex-center;
      font-size: 1.3em;
      gap: 1.5em;

      &-desktop {
        @include flex-center;
        width: 90%;
        aspect-ratio: 16/9;
        display: none;
        border: 3px solid $main-background;
      }
      
      &-mobile {
        @include flex-center;
        width: 75%;
        aspect-ratio: 9/16;
        border: 3px solid $main-background;
      }
    }

    // BOTTOM
    &-bottom {
      width: 100%;
      padding: 1em 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-github, &-view {
        @include flex-center;
        font-size: 0.8em;
        bottom: 1em;
        font-weight: bold;
        gap: 0.5em;
        color: $main-text-color;
        background-color: $main-background;
        padding: .3em .5em;
        border-radius: 1em;
      }

      &-github:hover, &-view:hover {
        background-color: $secondary-color; 
        color: white;
      }
    
      &-indicators {
        @include flex-center;
        gap: 1rem;
        bottom: 1rem;
    
        &-item{
          width: 1.6em;
          height: 0.3em;
          background-color: $main-background;
        }
      }
    }
  }
}

.active {
  background-color: $main-text-color;
}

@media (min-width: 450px) {
  .carousel-main-bottom-indicators-item {
    width: 2em;
    height: 0.4em;
  }
}

@media (min-width: 600px) {
  .carousel {
    &-main-middle {
      &-desktop {
        display: block;
      }

      &-mobile {
        display: none;
      }
    }

    &-main-bottom {
      font-size: 1.1em;
    }
  }
}

@media (min-width: 820px) {
  .carousel-main-bottom-indicators-item {
    width: 2.8em;
    height: 0.4em;
  }
}

@media (min-width: 1024px) {
  .carousel {
    &-main-middle {
      &-desktop {
        display: block;
        width: 60%;
      }

      &-mobile {
        display: block;
        width: 20%;
      }
    }

    &-main-bottom {
      font-size: 1.4em;
      padding-left: 1em;
      padding-right: 1em;
      &-indicators-item {
        height: 0.4em;
        width: 2.3em;
      }
    }
  }
}


@media (min-width: 1440px) {
  .carousel {
    &-main-middle {
      &-desktop {
        width: 70%;
      }
    }

    &-main-bottom {
      font-size: 1.7em;
      &-indicators-item {
        height: 0.35em;
        width: 2.4em;
      }
    }
  }
}